{{#each cats as |cat|}}
    <h3>{{cat.name}}</h3>
    <div>{{cat.fighterProfile.rarity}}</div>
    <div>Power level: {{cat.fighterProfile.powerLevel}}</div>
    <div>Current HP: {{cat.currentHP}}</div>
    <div>Battles won: {{cat.battlesWon}}</div>
    <hr>
{{/each}}