{{#if roll}}
    <h1>{{roll.defaultName}}</h1>
    <h2>{{roll.subtitle}}</h2>
    <div>Max HP: {{roll.maxHP}}</div>
    <div>Power level: {{roll.powerLevel}}</div>
{{/if}}

<div>a button that says roll will go here</div>
<div>Coins: {{coins}}</div>