<div class="container-sm text-center">
	<p class="h2">The current opponent is...</p>
	<img src={{opponent.fighterProfile.image}} alt="{{opponent.fighterProfile.defaultName}}" class="img-fluid">
	<p class="h1">{{opponent.fighterProfile.defaultName}}</p>
	{{#if noCats}}
	<p class="h3">You don't have any cats to battle with yet. Roll on the gacha to get new cats!<p>
	{{else}}
		{{#if errorMsg}}
			<div class="alert alert-danger">
				{{ errorMsg }}
			</div>
		{{/if}}
	<form method="POST" action="battle">
		<div>
			<label for="chosenCat" class="form-label">Choose your fighter:</label>
			<select name="chosenCat" class="form-select w-25 mx-auto mb-3">
				{{#each cats as |cat|}}
					<option value="{{cat.name}}">{{cat.name}}</option>
				{{/each}}
			</select>
		</div>
		<div>
			<input type="submit" value="Begin battle" class="btn btn-secondary">
		</div>
	</form>
	{{/if}}
</div>