<br>
{{#if noCats}}
<h2>You don't have any cats in your collection yet. Roll on the gacha to get new cats!</h2>
{{/if}}
{{#each cats as |cat|}}
    <img src={{cat.fighterProfile.image}} width="100" height="115">
    <h3>{{cat.name}}</h3>
    <div>{{cat.fighterProfile.rarity}}</div>
    <div>Power level: {{cat.fighterProfile.powerLevel}}</div>
    <div>Current HP: {{cat.currentHP}}</div>
    <div>Battles won: {{cat.battlesWon}}</div>
    <hr>
{{/each}}