<div class="container-fluid text-center">
    <div class="alert alert-danger d-none"></div>
    {{#if noCats}}
    <p class="h3">You don't have any cats in your collection yet. Roll on the gacha to get new cats!</p>
    {{/if}}
    <div class="container-sm text-start">
        {{#each cats as |cat|}}
            <div class="card d-inline-block px-3 mx-3 my-3" style="width: 18rem;">
                <div class="card-body text-center">
                    <p class="card-title" id="catName">{{cat.name}}</p>
                    <img src={{cat.fighterProfile.image}} width="200" height="230">
                    <p class="card-subtitle">{{cat.fighterProfile.rarity}}</p>
                    <p class="card-text">Power level {{cat.fighterProfile.powerLevel}}</p>
                    <p class="card-text" id="hp">❤️ {{cat.currentHP}}</p>
                    <p class="card-text">Battles won: {{cat.battlesWon}}</p>
                    <button type="button" class="btn btn-secondary">Feed fish 🐟</button>
                </div>
            </div>
        {{/each}}
    </div>
    <p class="h1 fixed-bottom text-white bg-dark" id="fishCount"> 🐟 {{user.fish}} </p>
</div>
<script src="/javascripts/collection.js"></script>