<!-- Gacha roll page -->
<div class="container-fluid text-center">
    <!-- Display error message -->
    {{#if errorMsg}}
        <div class="alert alert-danger">
            {{ errorMsg }}
        </div>
    {{/if}}
    <!-- Image of the rolled cat -->
    <img src={{rolledCat.image}} alt="You rolled {{rolledCat.defaultName}}!" class="img-fluid">
    <!-- Information for rolled cat -->
    <div>
        <p class="h1 text-primary fw-bold">{{rolledCat.defaultName}}</p>
        <p class="h3 text-dark">{{rolledCat.subtitle}}</p>
        <p class="h4 fw-bold">{{rolledCat.rarity}}</p>
        <p class="h5">Max HP: {{rolledCat.maxHP}}</p>
        <p class="h5">Power level: {{rolledCat.powerLevel}}</p>
    </div>
    <!-- Show message if player already has this cat -->
    {{#if haveCat}}
        <p class="h4">You already have this cat - converted to 5 coins instead</p>
        <a href="/gacha" class="btn btn-primary">Back to gacha</a>
    {{else}}
        <!-- POST form to rename the rolled cat - submit button saves the cat to the player's collection -->
        <form method="POST" action="/gacha/roll" id="renameCatForm">
            <label for="name" class="form-label">Rename your cat!</label>
            <input type="text" name="name" value="{{rolledCat.defaultName}}" class="form-control w-50 mb-3">
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {{/if}}
</div>